<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon"
            menu-toggle="right">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close
            href="#/app/home"
            class="item-icon-left">
            <i class="icon ion-home"></i>
            Home
        </ion-item>
        <ion-item menu-close
            ng-click="login()"
            class="item-icon-left">
            <i class="icon ion-pinpoint"></i>
            Modal
        </ion-item>
        <ion-item menu-close
            href="#/app/api"
            class="item-icon-left">
            <i class="icon ion-paper-airplane"></i>
            Api Rest
        </ion-item>
        <ion-item menu-close
            href="#/app/test"
            class="item-icon-left">
            <i class="icon ion-code"></i>
            Angular test
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
